PG_USER=de_student
PG_PASSWORD=ChangeMe123
PG_HOST=localhost
PG_PORT=5432
PG_DB=kedaibuku
PII_SALT=change-this-to-a-long-random-phrase
AIRFLOW_UID=1000
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=kedai-admin
S3_SECRET_KEY=ChangeMe12345
S3_BUCKET=kedaibuku-lake
